# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Local data (Optional: You might want to keep the Excel but ignore the huge processed data if you rebuild)
# Alma_Food_Map_Final.xlsx
# food_data.json (Commented out because this is needed for the site to work)

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
